<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86130775960-f0ggnq7ef8jc6oc5cok6lgdtqrpp2nnn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86130775960-f0ggnq7ef8jc6oc5cok6lgdtqrpp2nnn</string>
	<key>API_KEY</key>
	<string>AIzaSyBgGIhwFK2J7RiOmAlW5b84KYxq0cAjT5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>86130775960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.TapWork</string>
	<key>PROJECT_ID</key>
	<string>tapwork-5c676</string>
	<key>STORAGE_BUCKET</key>
	<string>tapwork-5c676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86130775960:ios:64b0ade0f87c73c859bded</string>
	<key>DATABASE_URL</key>
	<string>https://tapwork-5c676.firebaseio.com</string>
</dict>
</plist>