<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969849315348-d5r5o02vooovfiqlat270e4pmhd4chat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969849315348-d5r5o02vooovfiqlat270e4pmhd4chat</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-uOTrBTbLtYptogHtPTs-fyLz9m5OJw</string>
	<key>GCM_SENDER_ID</key>
	<string>969849315348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-.TapWork</string>
	<key>PROJECT_ID</key>
	<string>tapwork-85c3c</string>
	<key>STORAGE_BUCKET</key>
	<string>tapwork-85c3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969849315348:ios:3fec30df10932ca265c701</string>
	<key>DATABASE_URL</key>
	<string>https://tapwork-85c3c.firebaseio.com</string>
</dict>
</plist>